@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}


.swiper-pagination {
  top: -100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(225deg, #f76680 0%, #57007b 100%) !important;
  font-size: xx-large !important;
  width: 18px !important;
  height: 18px !important;
  border: transparent !important;
}

@media screen and (max-width : 639px) {
  .swiper-pagination-bullet-active {
    font-size: xx-large !important;

    width: 16px !important;
    height: 16px !important;
  }

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }
}

.swiper-pagination-bullet {
  font-size: 16px !important;
  width: 13px;
  height: 13px;
  border: 1px solid black;
  background: #CBD5E0;
}

.active-slide {
  border-color: linear-gradient(225deg, #f76680 0%, #57007b 100%);
}

.border-color {
  border: 1px solid blue;
  border-image: linear-gradient(225deg, #f76680 0%, #57007b 100%);
  border-image-slice: 1;
  border-radius: 9999px;
}

/* CSS code */
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.progress-bar {
  width: 0%;
  height: 20px;
  margin-bottom: 10px;
  background-color: blue;
}

.progress-value {
  font-size: 18px;
}

button {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
}

button:disabled {
  background-color: gray;
}

.progress-bar-container {
  width: 100%;
  height: 3px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #57007B;
  /* You can change this to your desired color */
}

.swiper-pagination {
  margin-top: 600px;
}

.coverflow-swiper .swiper {
  width: 100%;
}


.div-bg {
  background: rgba(250, 250, 250, 1);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.progressbar-container {
  background: rgba(226, 232, 240, 1);
}

.progressbar {
  background: rgba(87, 0, 123, 1);

}

.progress-right {
  color: rgba(87, 0, 123, 1);

}

.progress-left {
  color: rgba(160, 174, 192, 1);

}

.text-top {
  color: rgba(26, 32, 44, 1);

}

